<!--[if IE 8]><html class="lt-ie9" dir="ltr" prefix="og: http://ogp.me/ns#" lang="fr_fr"><![endif]-->
<!--[if gt IE 8]><!--><html dir="ltr" prefix="og: http://ogp.me/ns#" lang="fr_fr"><!--<![endif]-->
<html class="ltr" dir="ltr" prefix="og: http://ogp.me/ns#" lang="fr_fr">
<head itemscope itemtype="http://schema.org/WebSite">
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=9; IE=8; IE=7; IE=EDGE"/>
	<meta name="apple-mobile-web-app-capable" content="yes"/>
	<meta name="format-detection" content="telephone=no"/>
	<meta name="HandheldFriendly" content="true"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
	<meta name="apple-mobile-web-app-status-bar-style" content="black"/>

	<title>LP</title>

	@@include('./css.html')

</head>
<body>
